/*//////STYLESHEET FOR BEATING HEART WITH TEXT //////*/
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap'); */
/*https://fonts.google.com/specimen/DM+Serif+Display?query=dm */
@font-face {
	font-family: 'DM Serif Display';
	src: url(./../fonts/DMSerifDisplay-Italic.ttf) format('ttf');
	font-style: italic;
	font-weight: normal;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 100%;
}
body {
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'DM Serif Display', serif;
	font-style: italic;
	letter-spacing: 1px;
	background-color: #262626;
}
.typing {
	position: relative;
	bottom: 35%;
	bottom: -5%;
	color: white;
	height: 21px;
}
.typing:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 13px;
	border-right: 2px solid white;
	right: -5px;
	top: 1px;
	animation: blink 0.5s infinite ease;
}
.heart {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #ff3838;
	transform: rotate(45deg);
	animation: beat-heart 1.4s linear infinite;
}
.heart:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff3838;
	transform: translateY(-50%);
	border-radius: 50%;
}
.heart:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff3838;
	transform: translateX(-50%);
	border-radius: 50%;
}

@keyframes beat-heart {
	0% {
		transform: rotate(45deg) scale(1);
	}
	25% {
		transform: rotate(45deg) scale(1);
	}
	30% {
		transform: rotate(45deg) scale(1.4);
	}
	50% {
		transform: rotate(45deg) scale(1.2);
	}
	70% {
		transform: rotate(45deg) scale(1.4);
	}
	100% {
		transform: rotate(45deg) scale(1);
	}
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*--- For-phone-only ---*/
@media (max-width: 599px) {
	.typing {
		bottom: -5%;
	}
}

/*--- Tablets-Portrait-Up ---*/
@media (min-width: 37.5em) {
	html {
		font-size: 110%;
	}
	.typing {
		bottom: -5%;
	}
	.typing:after {
		width: 5px;
		height: 21px;
	}
	.heart {
		width: 50px;
		height: 50px;
	}
}

/*--- Tablets-Landscape-Up ---*/
@media (min-width: 56.25em) {
	html {
		font-size: 125%;
	}
	.typing {
		bottom: 28%;
		bottom: -5%;
	}
	.typing:after {
		width: 5px;
		height: 21px;
	}
	.heart {
		width: 100px;
		height: 100px;
	}
}

/*--- Desktop-Up ---*/
@media (min-width: 75em) {
	html {
		font-size: 150%;
	}
	.typing {
		bottom: 30%;
		bottom: -8%;
	}
	.typing:after {
		width: 5px;
		height: 21px;
	}
	.heart {
		width: 100px;
		height: 100px;
	}
}

/*--- Big-Desktop-Up ---*/
@media (min-width: 112.5em) {
	html {
		font-size: 133.3%;
	}
	.typing {
		bottom: -8%;
	}
	.typing:after {
		width: 5px;
		height: 21px;
	}
	.heart {
		width: 100px;
		height: 100px;
	}
}
